In [1]:
import json
import pandas as pd 
import numpy as np
from urllib.request import urlopen

In [16]:
API = 'http://aflow.org/API/aflux/'
Dont_showmethis=",$catalog(ICSD),$'auid',$'spacegroup_relax',$Pearson_symbol_relax',$'aurl',$'species'"
Properties=",species(),composition(),enthalpy_formation_atom(*0),volume_cell(),density()"
MATCHBOOK=Elements+Dont_showmethis+Properties
DIRECTIVE = '$paging(0),format(json)'
REQUEST = API + '?' + MATCHBOOK + ',' + DIRECTIVE

In [27]:
groups=['Metals','NonMetals']
nspecies=[2,3]
list_df=[]
for i in nspecies:
    if i==2 :
            for j in range(len(groups)):
                Elements= f'species(H,{groups[j]}),nspecies({i})'
                MATCHBOOK=Elements+Dont_showmethis+Properties
                DIRECTIVE = '$paging(0),format(json)'
                REQUEST = API + '?' + MATCHBOOK + ',' + DIRECTIVE
                response = json.loads(urlopen(REQUEST).read().decode('utf-8'))
                df=pd.DataFrame(response)
                list_df.append(df)
    elif i==3:
            for j in range(len(groups)+1):
                j1=j
                j2=j1
                if j==len(groups):
                    j1=j-1
                    j2=j1-1
                    Elements= f'species(H,{groups[j1]},{groups[j2]}),nspecies({i})'
                    MATCHBOOK=Elements+Dont_showmethis+Properties
                    DIRECTIVE = '$paging(0),format(json)'
                    REQUEST = API + '?' + MATCHBOOK + ',' + DIRECTIVE
                    response = json.loads(urlopen(REQUEST).read().decode('utf-8'))
                    df=pd.DataFrame(response)
                    list_df.append(df)

In [28]:
df=pd.concat(list_df,ignore_index=True,join="inner",axis=0)

In [29]:
df

,compound,nspecies,species,composition,enthalpy_formation_atom,volume_cell,density
0,Al4H12,2,"[Al, H]","[4, 12]",-0.002912,181.6770,1.097000
1,Ba4H8,2,"[Ba, H]","[4, 8]",-0.485538,222.7970,4.154270
2,Ba4H8,2,"[Ba, H]","[4, 8]",-0.485853,222.2980,4.163580
3,Ba4H8,2,"[Ba, H]","[4, 8]",-0.485552,222.8160,4.153900
4,Be6H12,2,"[Be, H]","[6, 12]",-0.050471,139.1790,0.789449
...,...,...,...,...,...,...,...
392,H6O6Y2,3,"[H, O, Y]","[6, 6, 2]",-1.944340,124.4790,3.733240
393,H2O4Y2,3,"[H, O, Y]","[2, 4, 2]",-2.555490,87.0802,4.649530
394,H6O6Y2,3,"[H, O, Y]","[6, 6, 2]",-1.944160,124.2850,3.739080
395,H1Se1Y1,3,"[H, Se, Y]","[1, 1, 1]",-1.439580,50.3023,5.574730
396,H2Si6Y10,3,"[H, Si, Y]","[2, 6, 10]",-0.733365,389.1990,4.520790

In [30]:
df.to_csv("HydroMetalMix_Aflow_data.csv",index=True)